h1 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
  font-family: 'Cinzel Decorative', cursive;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
    color: red;
}

.london {
  background: url("london.jpg") no-repeat top center fixed;
  background-size: cover;
}

.havana {
  background: url("havana.jpg") no-repeat top center fixed;
  background-size: cover;
}

.tokyo {
  background: url("tokyo.jpg") no-repeat top center fixed;
  background-size: cover;
}

.rome {
  background: url("rome.jpg") no-repeat top center fixed;
  background-size: cover;
}

.paris {
  background: url("paris.jpg") no-repeat top center fixed;
  background-size: cover;
}

.sydney {
  background: url("sydney.jpg") no-repeat top center fixed;
  background-size: cover;
}


.on {
  border: 1px solid;
  width: 250px;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #d6f5d6;
}

.off {
  border: 1px solid;
  width: 250px;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ff9999;
}

#darmuus {
font-family: 'Mr Bedfort', cursive;
font-size: 100px;
padding: 1px;
margin: 1px;
}

.centered {
  position: absolute;
  height: 100px;
  width: auto;
  margin: auto;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#container {
  top: 30%;
}

.weather-widget {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid;
  padding: 20px 20px 20px 20px;
  border-left-width: 20px;
  border-top-width: 20px;
  border-left: 1px solid;
  background-color: rgba(230, 230, 230, 0.5);

}

#temperature {
  font-size: 70px
}
