h1 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
  font-family: 'Cinzel Decorative', cursive;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
    color: red;
}

.on {
  border: 1px solid;
  width: 250px;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #d6f5d6;
}

.off {
  border: 1px solid;
  width: 250px;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ff9999;
}

#darmuus {
font-family: 'Mr Bedfort', cursive;
font-size: 100px;
padding: 1px;
margin: 1px;
}

.centered {
  position: absolute;
  height: 100px;
  width: auto;
  margin: auto;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

body {
  /*background-image: url("warm-fire.jpg");*/
 /*-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;*/
 /*background-size: cover;*/
}

#container {
  top: 25%;
}

.weather-widget {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid;
  padding: 20px 20px 20px 20px;
  border-left-width: 20px;
  border-top-width: 20px;
  border-left: 1px solid;
}

#temperature {
  font-size: 70px
}
